html, body{

 	height: 100%;
}

body{
background-image:url("H:\private\CNMT 310/background.jpg");
background-repeat:repeat-y;
background-color: black;
color: white;
font:40px;
}

head{
font-size: 30px;
color:white;
border-width: 50px;
color = black;
}

footer{
position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;


}

aside-text{
float:right;
}

stack{
font-size: 30px;
}

.songtitle{
font-size: 30px;
}

.songartist{
font-size: 30px;
}

.album{
font-size: 30px;
}

.label{
font-size: 30px;
}

.datetime{
font-size: 30px;
}
